In [58]:
import pandas as pd
import numpy as np


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<h1>Goal - Match contacts with no account to our Speedeon accounts from salesforce</h1>
<hr>

<h3> Dictionary - A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value</h3> 
<br />
<img src="dict.png"/>

<h4> Creating Dictionary </h4>

In [59]:
example_dict = {'a':'alpha', 'o':'omega', 'g': 'gamma'}
example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

<h4> Accesing Value by key </h4>

In [60]:
example_dict['a']

'alpha'

<h4> Adding a new key </h4>

In [61]:
example_dict['b'] = 'beta'

example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'b': 'beta'}

<h4> Updating value by key </h4>

In [62]:
print(example_dict['g'])

example_dict['g'] = 'gamma2'

print(example_dict['g'])

gamma
gamma2

<h4> Deleting a key-value pair </h4>

In [63]:
print(example_dict)
del example_dict['b']
print(example_dict)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma2', 'b': 'beta'}
{'a': 'alpha', 'o': 'omega', 'g': 'gamma2'}

<h4> Adding new key-value pair </h4>

In [64]:
new_dict = {'d':'delta'}
example_dict.update(new_dict)

example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma2', 'd': 'delta'}

<h4> Dictionary built-in functions </h4>

In [65]:
# Get dict keys
print(example_dict.keys())
print()

# Get dict values
print(example_dict.values())
print()


# Return a list of key-value pairs
print(example_dict.items())
print()

# Iterating through dictionary
for k,v in example_dict.items():
    print('key  :', k)
    print('value:', v)
    print('----------------------')

dict_keys(['a', 'o', 'g', 'd'])

dict_values(['alpha', 'omega', 'gamma2', 'delta'])

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma2'), ('d', 'delta')])

key  : a
value: alpha
----------------------
key  : o
value: omega
----------------------
key  : g
value: gamma2
----------------------
key  : d
value: delta
----------------------

<h4> Dictionary Excercise </h4>
<ol>
<li> Create a dictionary with 5 different key value pairs</li>
<li> Print the dictionary</li>
<li> Print the dictionary keys</li>
<li> Print the dictionary values</li>
<li> Print the the value for any key</li>
<li> Change the value for any key</li>
<li> Add a new key-pair value</li>
<li> Iterate through through the dictionary and print the key and value for each pair</li>
</ol>

In [66]:
example = {'A':1,'B':2,'C':3,'D':4,'E':5}
print(example)
print(example.keys())
print(example.values())
print(example['A'])
example['C'] = '98'
example['F'] = '6'
for k,v in example.items():
    print(k,v)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
dict_keys(['A', 'B', 'C', 'D', 'E'])
dict_values([1, 2, 3, 4, 5])
1
A 1
B 2
C 98
D 4
E 5
F 6

In [67]:
'98'*2

'9898'

<h3> Project </h3>

In [68]:
def get_domain(value):
    if isinstance(value, str):
        return value.split('@')[1].replace('.com', '')
    else:
        return value
    
def split_first(value):
    if isinstance(value, str):
        return value.split(" ")[0]
    else:
        return value
    
def split_last(value):
    if isinstance(value, str):
        return value.split(" ")[1]
    else:
        return value

In [69]:
# Dictionary containing all available accounts
all_accounts = pd.read_csv('report1557927215481.csv', encoding='latin-1')
all_accounts['email_domain'] = all_accounts['Email'].apply(get_domain)
all_accounts['First Name'] = all_accounts['First Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())
all_accounts['Last Name'] = all_accounts['Last Name'].apply(lambda x:  x if isinstance(x,float) else x.lower()) 

# Dictionary containing all contacts with no accounts
no_account = pd.read_csv('contacts_no_accounts.csv', encoding='latin-1')
no_account['email_domain'] = no_account['Email'].apply(get_domain)
no_account['First Name'] = no_account['Full Name'].apply(split_first)
no_account['Last Name'] = no_account['Full Name'].apply(split_last)
no_account['First Name'] = no_account['First Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())
no_account['Last Name'] = no_account['Last Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())
no_account["Account ID"] = ""

In [70]:
all_accounts.head(1)

,Account ID,First Name,Last Name,Title,Mailing Street,Mailing City,Mailing State/Province (text only),Mailing Zip/Postal Code,Phone,Email,Account Owner,Account Name,email_domain
0,001F000001O2pTm,joe,grusman,Sr. Manager of Marketing Acquisition & Emergin...,NaN,NaN,NaN,NaN,+1 800 943 1633,jgrusman@zappos.com,Marketing,Zappos,zappos

In [71]:
no_account.head(1)

,Full Name,Email,Account Name: Account Name,Contact ID,email_domain,First Name,Last Name,Account ID
0,David Kalman,david.kalman@hal2l.com,NaN,0032A00002up33E,hal2l,david,kalman,

In [72]:
all_accounts = all_accounts.to_dict(orient='records')
no_account = no_account.to_dict(orient='records')

<h3> Find exact email matches between the two datasets </h3>
<ol>
<li> Iterate through both lists, find the exact email matches</li>
<li> Append matches to another list</li>
</ol>

In [83]:
count = 0
for contact in no_account:
    for account in all_accounts:
        if contact['Email'] == account['Email']:
            contact['Account Name: Account Name']= account['Account Name']
            contact['Account ID']= account['Account ID']
        elif contact["email_domain"]== account['email_domain'] and contact["First Name"]== account["First Name"] and contact["Last Name"]== account["Last Name"]:
            contact['Account Name: Account Name']= account['Account Name']
            contact['Account ID']= account['Account ID']
            
#         elif contact["email_domain"]== account['email_domain']  and contact["Last Name"]== account["Last Name"]:
#             contact['Account Name: Account Name']= account['Account Name']
#             contact['Account ID']= account['Account ID']
#             print(contact)
        count+= 1
            
count

{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up65O', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up65O', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoyXU', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoybX', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoyy1', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoz0A', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoz1Q', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uozAv', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uozR0', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uozhC', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uozhC', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002up04j', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoub6', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoub6', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoubo', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoubo', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'Nebo Agency', 'Contact ID': '0032A00002uosZF', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '0012A000028seDe'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'MarketPlace Group', 'Contact ID': '0032A00002uosZF', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '001F000001hSHyR'}
{'Full Name': 'Catherine Jones', 'Email': 'catherinejones4.b2b@gmail.com', 'Account Name: Account Name': 'River City Publishing', 'Contact ID': '0032A00002hsTzk', 'email_domain': 'gmail', 'First Name': 'catherine', 'Last Name': 'jones', 'Account ID': '001F000000oyop9'}
{'Full Name': 'Matthew Winter', 'Email': 'mwint@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uotfS', 'email_domain': 'allstate', 'First Name': 'matthew', 'Last Name': 'winter', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Matthew Winter', 'Email': 'mwint@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uotfS', 'email_domain': 'allstate', 'First Name': 'matthew', 'Last Name': 'winter', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Matthew Winter', 'Email': 'mwint@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uotfS', 'email_domain': 'allstate', 'First Name': 'matthew', 'Last Name': 'winter', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'Nebo Agency', 'Contact ID': '0032A00002asSYg', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '0012A000028seDe'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'MarketPlace Group', 'Contact ID': '0032A00002asSYg', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '001F000001hSHyR'}
{'Full Name': 'David Carter', 'Email': 'dcarter@commonbond.co', 'Account Name: Account Name': 'CommonBond', 'Contact ID': '0032A00002wR2wz', 'email_domain': 'commonbond.co', 'First Name': 'david', 'Last Name': 'carter', 'Account ID': '001F000001gS7RC'}
{'Full Name': 'ANGELA GARFINKEL', 'Email': 'angela@qualitycontactsolutions.com', 'Account Name: Account Name': 'Quality Contact Solutions', 'Contact ID': '0032A00002xiEX5', 'email_domain': 'qualitycontactsolutions', 'First Name': 'angela', 'Last Name': 'garfinkel', 'Account ID': '001F000000sBTlp'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up56W', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up56W', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'Nebo Agency', 'Contact ID': '0032A00002up56G', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '0012A000028seDe'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'MarketPlace Group', 'Contact ID': '0032A00002up56G', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '001F000001hSHyR'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'Nebo Agency', 'Contact ID': '0032A00002up5XO', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '0012A000028seDe'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'MarketPlace Group', 'Contact ID': '0032A00002up5XO', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '001F000001hSHyR'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up5Xg', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002up5Xg', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}

{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoyLJ', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uogUj', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uogUj', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoXCp', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Catherine Jones', 'Email': 'catherinejones4.b2b@gmail.com', 'Account Name: Account Name': 'River City Publishing', 'Contact ID': '0032A00002uolkx', 'email_domain': 'gmail', 'First Name': 'catherine', 'Last Name': 'jones', 'Account ID': '001F000000oyop9'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uooWN', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uooWN', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uonrf', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uonrf', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uonrv', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uonrv', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uooU2', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uooU2', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Kurt Winter', 'Email': 'kwinter@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uog20', 'email_domain': 'allstate', 'First Name': 'kurt', 'Last Name': 'winter', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Kurt Winter', 'Email': 'kwinter@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uog20', 'email_domain': 'allstate', 'First Name': 'kurt', 'Last Name': 'winter', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoeyc', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Beth Murphy', 'Email': 'bethmurphy@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoeyc', 'email_domain': 'allstate', 'First Name': 'beth', 'Last Name': 'murphy', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Christopher Miller', 'Email': 'christophermiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uoezo', 'email_domain': 'allstate', 'First Name': 'christopher', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Cindy Johnson', 'Email': 'cindy.johnson@hanes.com', 'Account Name: Account Name': 'Hanesbrands', 'Contact ID': '0032A00002uoZdW', 'email_domain': 'hanes', 'First Name': 'cindy', 'Last Name': 'johnson', 'Account ID': '001F000001OrqRO'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'Nebo Agency', 'Contact ID': '0032A00002uojaU', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '0012A000028seDe'}
{'Full Name': 'Dietric Williams', 'Email': 'dw.calihomes@gmail.com', 'Account Name: Account Name': 'MarketPlace Group', 'Contact ID': '0032A00002uojaU', 'email_domain': 'gmail', 'First Name': 'dietric', 'Last Name': 'williams', 'Account ID': '001F000001hSHyR'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uogvM', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}
{'Full Name': 'Aaron Miller', 'Email': 'aaronmiller@allstate.com', 'Account Name: Account Name': 'Allstate', 'Contact ID': '0032A00002uogvM', 'email_domain': 'allstate', 'First Name': 'aaron', 'Last Name': 'miller', 'Account ID': '001F000000q05tW'}

37548096

In [74]:
not_matched=list()
matched = list()
for contact in no_account:
    if isinstance(contact['Account Name: Account Name'],float):
        not_matched.append(contact)
    else:
        matched.append(contact)

In [75]:
len(not_matched)

558

In [76]:
len(matched)

518

In [77]:
output = pd.DataFrame().append(matched,ignore_index=True)
output.head()

,Account ID,Account Name: Account Name,Contact ID,Email,First Name,Full Name,Last Name,email_domain
0,0012A00002DnVmE,HackerAgency,0032A00002up33E,david.kalman@hal2l.com,david,David Kalman,kalman,hal2l
1,001F000000q05tW,Allstate,0032A00002up32Z,kim.dunworth-miller@allstate.com,kim,Kim Dunworth-Miller,dunworth-miller,allstate
2,001F000001OrqRO,Hanesbrands,0032A00002up098,michelle.mezzano@hanes.com,michelle,Michelle Mezzano,mezzano,hanes
3,001F000000q05tW,Allstate,0032A00002up3re,jlisz@allstate.com,james,James Liszka,liszka,allstate
4,001F000000q05tW,Allstate,0032A00002up3sG,kval2@allstate.com,karen,Karen Valdez,valdez,allstate

In [78]:
len(no_account)

1076

In [79]:
output.shape

(518, 8)

In [80]:
output.to_csv("no_account_matches.csv",header=True,index=False)